= render 'admin/breadcrumb'

%p
  =@channel.description

%h2 Albums
%a.btn.btn-default{:href => ''} Add Albums

%p
  Render Albums here

%h2 Soundtracks
%a.btn.btn-default{:href => ''} Add Soundtracks

%p
  Render soundtracks here