%aside.aside.aside-md.bg-light.dk
  %section.vbox
    %section#home-sidebar.scrollable.wrapper.hover
      .widget
        %h4.widget-title Favorite channels
        .list-group.list-group-lg
          .list-group-item.clearfix
            .pos-rlt.pull-left.m-r
              %a.thumb-sm{:href => ""}
                %img.img-full.rounded{:alt => "", :src => ""}/
            %div
              %a.m-t-sm.m-b-sm.text-ellipsis{:href => ""} Name

      .widget-2.widget-even.widget-alt.widget_music_term_widget.widget
        %h5.sub-title Popular Channels
        %ul.m-t-n-xxs.list-inline
          %li
            %a{:href => ""} Channel
