- if not listener_signed_in?
  .row.m-t-lg.m-b-lg
    .col-sm-6
      .bg-white.wrapper-md.r
        %a{:href => new_listener_session_path}
          %span.h4.m-b-xs.block
            %i.icon-user-follow.m-r-sm
            Login
          %span.text-muted Add your favorite channels, evaluate soundtracks, and give your comments to them.
    .col-sm-6
      .bg-info.dker.wrapper-md.r
        %a{:href => new_listener_registration_path}
          %span.h4.m-b-xs.block
            %i.icon-cloud-download.m-r-sm
            Create free account
          %span.text-muted Get unlimited access to music channels and personal playlists