.col-md-4
  %h3.widget-title Popular Soundtracks
  %h5.sub-title Find your like
  .list-group.list-group-lg
    .list-group-item.clearfix
      .pos-rlt.pull-left.m-r
        %a.thumb-sm{:href => ""}
          %img.img-full.rounded{:alt => "", :src => ""}/
      %div
        %a.m-t-sm.m-b-sm.text-ellipsis{:href => ""} Name

  .textwidget
    %a.btn.btn-sm.btn-default.btn-block{:href => "#"} Add button